body{
      margin:0;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
      background-image: url("Background\ 2.png");
      color:#fff;
      font-family:Arial, sans-serif;
      text-align:center;
    }

    h1{
      color: white;
      text-shadow: 
     -1px -2px 0 black,
      1px -2px 0 black,
     -3px  2px 0 black,
      1px  2px 0 black;
      font-size:40px;
    }

    p{
      color: white;
      text-shadow: 
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
      font-size:22px;
      max-width:600px;
      padding:10px;
    }

    #area{
      width:250px;
      height:250px;
      background:#000000;
      border:6px solid #ffffff;
      border-radius:20px;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size:30px;
      font-weight:bold;
      transition:0.3s;
    }

    #pontos{
      color: white;
      text-shadow: 
     -1px -1px 0 black,
      1px -1px 0 black,
     -2px  1px 0 black,
      1px  1px 0 black;
      margin-top:8px;
      font-size:23px;
    }

    button{
      margin-top:8px;
      padding:15px 30px;
      font-size:24px;
      border:none;
      border-radius:10px;
      cursor:pointer;
      background:#5efa63;
      color:#000000;
      border: 2px solid #ffffff;
      font-weight:bold;
    }
  
    footer {
      position: fixed;  
      bottom: 5px;      
      left: 10px;       
      font-size: 10px;   
      color: #cbd5e1;   
      text-align: left;  
      line-height: 1;   
      margin: 0;       
      padding: 0;
     }

    footer p {
      margin: 0;        
    }
